.infoDetailGraph-lineGraph .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.infoDetailGraph-lineGraph { 
  width: 95%;
  position: relative;
  border-radius: 20px;
  background: #2F3B49;
  margin: 5px;
}

.infoDetailGraph-title {
  color: #fff;
  font-size: 15px;
  text-align: center;
}
