.App-header > div {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2vmin);
  color: white;
}

@media (min-width: 960px) {
  .App-header {
    background-color: #111a33;
    min-height: 7vh;
    display: flex;
    border-bottom: 1px solid #000;
  }

  .App-header > div.headerLogo {flex: 2; min-width: 150px; justify-content: left;}
  .App-header > div.headerMainTitle {flex: 4}
  .App-header > div.headerTitle {flex: 4}
  .App-header > div.headerClock {flex: 1}
  .App-header > nav.headerButtons {flex: 0.9; justify-content: flex-end;}
}

@media (max-width: 960px) {
  .App-header {
    background-color: #111a33;
    min-height: 7vh;
    display: flex;
    border-bottom: 1px solid #000;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .App-header > div.headerLogo {flex: 2; min-width: 150px; justify-content: center;}
  .App-header > div.headerClock {display: block;}
  .App-header > nav.headerButtons {flex: 0.9;}
}
